@font-face {
    font-family: 'Tili Bold';
    src: url("fonts/TitilliumWeb-Bold.ttf");   
}
@font-face {
    font-family: 'Tili Light';
    src: url("fonts/TitilliumWeb-Light.ttf");   
}
@font-face {
    font-family: 'Tili Regular';
    src: url("fonts/TitilliumWeb-Regular.ttf"); 
}
.fa-square, .fa-circle i{
    background-color: #fff;
    color: #fff;
   
}
.fa-solid, .fas{
    font-size: 0.4rem;
    vertical-align: middle;
}
.regular{
    font-family: 'Tili Regular';
}
.bold{
    font-family: 'Tili Bold';
}
.light{
    font-family: 'Tili Light';
}
.contenedor-videos{
    position: relative;
    margin-bottom: 650px;
}
ul{
    list-style: none;
    font-family: 'Tili Light';
}
.button_container{
    cursor: pointer;
}
/*VIDEO INDEX*/
#header{
    position: relative;
}
.section__index video{
    max-width: 100%;
    padding: 0px 0px 0px 0px;
    z-index: 0;
    position: absolute;
}
.menu-compu{
    position: relative;
}
.logo-header{
    max-width: 180px;
}
.logo-footer{
    max-width: 200px;
}
.logo-static{
    max-width: 200px;
}
/*TERMINA VIDEO INDEX*/
/*VIDEO SOMOS*/
.video-somos{
    max-width: 100%;
    padding: 0px 0px 0px 0px;
    z-index: 0;
    position: absolute;
}
.video-somos-letras{
    position: relative;
    color: #fff;
    margin-top: 9rem;
}
.bg-lap{
    position: absolute; 
    padding: 0px 0px 0px 0px;
    z-index: 0;
    right: 0;
}
.bg-lap-texto{
    position: relative;
    left: 120px;
    z-index: 2;
}
.video-contacto{
    position: absolute;
    width: 75%; 
    z-index: 0;
    right: 0;
}
.video-contacto-texto{
    position: relative;
    z-index: 2;
    color: #fff;
    left: 150px;
    margin-top: 200px;
}
.vid-contact{
    max-width: 100%;
    padding: 0px 0px 0px 0px;
    z-index: 0;
}
.vid-funcion{
    position: absolute; 
    padding: 0px 0px 0px 0px;
    z-index: 0;
    width: 70%; 
    left: 0;
}
.vid-funcion-texto{
    position: relative;
    top: 150px;
    left: 65%;

}
/*TERMINA VIDEO SOMOS*/
.none_a_decoration{
    text-decoration: none;
    color: #fff;
}
.none_a_decoration:hover{
    color: #fff;
}
.menu-desk{
    color: #fff;
}
.menu-desk a{
    color: #fff;
}
/* FONDOS */
.index{
    background-color: #000000;
    color: #fff;
}
.bg-letras{
    background-image: url('../img/hyra-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: #fff;
    height: 40vh;
    width: 100%;
    margin-top: 200px;
}
.bg-letras h3{
    margin-top: 8rem;
}
.bg-gris{
    background-color: #1E1E1E;
    color: #fff;
}
.bg-funcion{
    position: relative;
    padding: 0px 0px 0px 0px;
    margin-bottom: -50px;
}
.bg-funcion-texto{
    position: relative;
    margin-left: -100px;
    margin-top: 150px;
}
.bg-somos{
    position: relative;
    padding: 0px 0px 0px 0px;
}
.bg-somos-letras{
    position: relative;
    margin-left: -100px;
    margin-top: 90px;
}
/* TERMINA FONDOS */
.formulario{
    color: #fff;
}
.borde-bottom{
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0;
}
.formulario input{
    background: transparent;
    color: #fff;
}
.formulario ::placeholder{
    color: #fff;
    font-family: 'Tili Regular';
}
.btn-formulario{
    background: transparent;
    border: none;
}
.btn-formulario:hover{
    background: transparent;
    border: none;
}
/*
.decoration-list ul{
    list-style: none;
}
ul li::before{
    content: "\25AA";  
    color: #fff;
    margin-right: 0.4em;
    font-weight: bold;
    font-size:1.1rem;
}*/
.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: transparent;
}
.overlay-image{
    color: #000;
    position: absolute;
    cursor: pointer;
    z-index: 2;
    top: 30%;
    left: 36%;
}
.menu-hover span{
    visibility: hidden;
}
.menu-hover:hover{
    visibility: visible;
}
.loop{
    max-width: 200px;
}
.icono-formulario{
    max-width: 25px;
}
.icono-camara{
    float: left;
    max-width: 50px;
    margin-bottom: 3rem;
}
.iconos-somos{
    max-width: 80px;
}
.icono-static{
    max-width: 50px;
    float: left;
}
.icono-contacto{
    max-width: 100px;
}
.icono-funcionamiento{
    max-width: 20px;
}
.icono-funcionamiento-superior{
    max-width: 80px;
}
.sobre-nosotros{
    margin-top: 150px;
}
.caja{
    position: relative;
}
.caja-texto h1{
    position: relative;
    margin-left: -100px;
}
.seguridad-confianza{
    position: relative;
}
.seguridad-confianza-letras{
    position: relative;
    margin-left: -100px;
    margin-top: 150px;
}
.seguridad-confort{
    position: relative;
    z-index: 0;
    right: 0;
}
.seguridad-confort-letras{
    position: relative;
    margin-top: 150px;
    margin-right: -100px;
    z-index: 1;

}.nuestras-unidades{
    position: relative;
    top: 350px;
    left: 40px;
}
.texto-vertical{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin-top: 20px;
    margin-left: -55px;
    opacity: 0.2;
}
.equipamiento{
    background-image: url('../img/equipamiento.jpg');
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    background-size: cover;
    width: 100%;
    height: 60vh;
}
.espejo{
    background-image: url('../img/espejo.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    background-size: cover;
    height: 60vh;
    color: #000;
}
.espejo-2{
    background-image: url('../img/espejo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    background-size: cover;
    height: 60vh;
    color: #000;
}
/*MENÚ DEL INDEX*/
.menu {
    display: flex;
}
.menu a {
    position: relative;
    display: block;
    overflow: hidden;
}
.menu a span {
    transition: transform 0.2s ease-out;
}
.menu a span:first-child {
    display: inline-block;
    padding: 10px;
    width: 500px;  
}
.menu a span:last-child {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    transform: translateY(-100%);
    width: 500px;
}
.menu a:hover span:first-child {
    transform: translateY(100%);
}
.menu a:hover span:last-child,
.menu[data-animation] a:hover span:last-child {
    transform: none;
}
.menu[data-animation="to-top"] a span:last-child {
    transform: translateY(100%);
}
.menu[data-animation="to-top"] a:hover span:first-child {
    transform: translateY(-100%);
}
/*TERMMINA EL MENÚ DEL INDEX*/
/*SIDE MENU*/
.btnmenu {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
#sidebar {
    top: 0;
    position: absolute;
    width: 500px;
    height: 100%;
    right: -500px;
    color: #000000;
    background: #fff;
    /* display: none; */
    transition: all 500ms linear;
}
#sidebar span{
    color: #000000;
}
#sidebar.active {
    right: 0;
}
#header.active{
    right: 500px;
}
#sidebar.close {
    right: 0;
}
  /*TERMINA SIDE MENU*/
@media (max-width:400px) {
    .overlay-image{
        top: 30%;
        left: 45%;
        max-width: 50px;
    }
    .bg-letras{
        margin-top: 100px;
    }
    .bg-letras h3{
        margin-top: 0;
    }
    .bg-somos-letras{
        margin-left: 20px;
    }
    .seguridad-confianza-letras{
        margin-left: 5px;
    }
    .video-index{
        margin-top: 300px;
    }
    .seguridad-confianza-letras p{
        margin-left: 0!important;
        padding: 15px;
    }
    .bg-lap-texto{
        left: 0;
        top: 250px;
        margin-bottom: 200px;
    }
    .contenedor-videos {
        margin-bottom: 150px;
    }
    .caja-texto h1{
        margin-left: 0;
    }
    .bg-funcion-texto{
        margin-left: 0;
    }
    #sidebar{
        width: 390px;
        right: -390px;
        height: 850px;
        z-index: 1;
    }
}
@media (max-width:500px) {
    .overlay-image{
        top: 30%;
        left: 45%;
        max-width: 50px;
    }
    .bg-letras{
        margin-top: 100px;
    }
    .bg-letras h3{
        margin-top: 0;
    }
    .bg-somos-letras{
        margin-left: 20px;
    }
    .seguridad-confianza-letras{
        margin-left: 5px;
    }
    .video-index{
        margin-top: 300px;
    }
    .seguridad-confianza-letras p{
        margin-left: 0!important;
        padding: 15px;
    }
    .bg-lap-texto{
        left: 0;
        top: 250px;
        margin-bottom: 200px;
    }
    .contenedor-videos {
        margin-bottom: 150px;
    }
    .caja-texto h1{
        margin-left: 0;
    }
    .bg-funcion-texto{
        margin-left: 0;
    }
    #sidebar{
        width: 390px;
        right: -390px;
        height: 850px;
        z-index: 1;
    }
    
}
@media (max-width:700px) {
    .overlay-image{
        top: 30%;
        left: 45%;
        max-width: 50px;
    }
    .bg-letras{
        margin-top: 100px;
    }
    .bg-letras h3{
        margin-top: 0;
    }
    .bg-somos-letras{
        margin-left: 20px;
    }
    .seguridad-confianza-letras{
        margin-left: 5px;
    }
    .video-index{
        margin-top: 300px;
    }
    .seguridad-confianza-letras p{
        margin-left: 0!important;
        padding: 15px;
    }
    .bg-lap-texto{
        left: 0;
        top: 250px;
        margin-bottom: 200px;
    }
    .contenedor-videos {
        margin-bottom: 150px;
    }
    .caja-texto h1{
        margin-left: 0;
    }
    .bg-funcion-texto{
        margin-left: 0;
    }
    #sidebar{
        width: 390px;
        right: -390px;
        height: 850px;
        z-index: 1;
    }
}